In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("clean_data.csv")
df.head()

,location,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable
0,Nizampet,6968000,1340,2,0,1,1,0,1
1,Hitech City,29000000,3498,4,0,1,1,0,1
2,Manikonda,6590000,1318,2,0,0,0,0,0
3,Alwal,5739000,1295,3,0,0,0,0,1
4,Kukatpally,5679000,1145,2,0,0,1,0,1

In [3]:
df.isna().sum()

location           0
price              0
total_sqft         0
No. of Bedrooms    0
School             0
24X7Security       0
CarParking         0
Hospital           0
LiftAvailable      0
dtype: int64

In [4]:
Data=df.copy()

In [5]:
Data.head()

,location,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable
0,Nizampet,6968000,1340,2,0,1,1,0,1
1,Hitech City,29000000,3498,4,0,1,1,0,1
2,Manikonda,6590000,1318,2,0,0,0,0,0
3,Alwal,5739000,1295,3,0,0,0,0,1
4,Kukatpally,5679000,1145,2,0,0,1,0,1

In [6]:
Data.describe()

,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable
count,2.518000e+03,2518.000000,2518.000000,2518.000000,2518.000000,2518.000000,2518.000000,2518.000000
mean,9.818380e+06,1644.571088,2.623511,0.340747,0.706513,0.736299,0.339952,0.975774
std,8.777113e+06,746.256956,0.687330,1.620984,1.615641,1.611552,1.620905,1.557725
min,2.000000e+06,500.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.760000e+06,1160.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.754000e+06,1500.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.090000e+07,1829.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,1.650000e+08,9400.000000,8.000000,9.000000,9.000000,9.000000,9.000000,9.000000

In [7]:
Data["location"].value_counts()

Kukatpally                       166
Kondapur                         149
Manikonda                        115
Nizampet                         106
Gachibowli                        83
                                ...
Basheer Bagh                       1
Miyapur HMT Swarnapuri Colony      1
Adda Gutta                         1
Mayuri Nagar                       1
Paradise Circle                    1
Name: location, Length: 243, dtype: int64

In [8]:
Data["location"]=Data["location"].apply(lambda x: x.strip())
location_counts=Data["location"].value_counts()

In [9]:
location_counts

Kukatpally                       166
Kondapur                         149
Manikonda                        115
Nizampet                         106
Gachibowli                        83
                                ...
Basheer Bagh                       1
Miyapur HMT Swarnapuri Colony      1
Adda Gutta                         1
Mayuri Nagar                       1
Paradise Circle                    1
Name: location, Length: 243, dtype: int64

In [10]:
location_10_counts=location_counts[location_counts<=10]
location_10_counts

Gandipet                         10
Mehdipatnam                      10
Somajiguda                        9
ECIL                              9
Uppal                             9
                                 ..
Basheer Bagh                      1
Miyapur HMT Swarnapuri Colony     1
Adda Gutta                        1
Mayuri Nagar                      1
Paradise Circle                   1
Name: location, Length: 189, dtype: int64

In [11]:
Data["location"]=Data["location"].apply(lambda x: "other" if x in location_10_counts else x)

In [12]:
Data["location"].value_counts()

other                        468
Kukatpally                   166
Kondapur                     149
Manikonda                    115
Nizampet                     106
Gachibowli                    83
Hitech City                   82
Miyapur                       80
Kokapet                       79
Pragathi Nagar Kukatpally     57
Bachupally Road               55
Narsingi                      52
Puppalaguda                   51
Beeramguda                    51
Nanakramguda                  49
Gajularamaram                 48
Banjara Hills                 44
Appa Junction                 43
Tellapur                      43
Serilingampally               41
Jubilee Hills                 41
Krishna Reddy Pet             34
Madhapur                      34
Nallagandla Gachibowli        32
Appa Junction Peerancheru     28
Bachupally                    28
Malkajgiri                    22
Mallampet                     22
Begumpet                      21
Aminpur                       20
Alwal                         20
Nacharam                      19
Kollur Road                   19
Balanagar                     18
Sanath Nagar                  18
Mallapur                      18
Chandanagar                   17
Attapur                       17
West Marredpally              17
Nagole                        16
Kompally                      16
Patancheru                    15
Bandlaguda Jagir              15
LB Nagar                      14
Adibatla                      14
East Marredpally              14
Shaikpet                      13
Tarnaka                       13
Nallakunta                    12
Gajulramaram Kukatpally       12
Toli Chowki                   12
Madinaguda                    12
Darga Khaliz Khan             11
TellapurOsman Nagar Road      11
Kachiguda                     11
Name: location, dtype: int64

In [13]:
Data["price_per_sqft"]=(Data["price"]/Data["total_sqft"])*100000

In [14]:
Data["price_per_sqft"].describe()

count    2.518000e+03
mean     5.488335e+08
std      2.417874e+08
min      1.055000e+08
25%      4.000000e+08
50%      5.000000e+08
75%      6.477659e+08
max      6.000000e+09
Name: price_per_sqft, dtype: float64

In [15]:
def sqft_outlier_removal(df):
    op_df=pd.DataFrame()
    for location,subdf in df.groupby("location"):
        m=np.mean(subdf.price_per_sqft)
        sd=np.std(subdf.price_per_sqft)
        
        gen_df=subdf[(subdf.price_per_sqft>(m-sd)) & (subdf.price_per_sqft<=(m+sd))]
        op_df=pd.concat([op_df,gen_df], ignore_index=True)
    return op_df
Data=sqft_outlier_removal(Data)
Data.describe()

,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable,price_per_sqft
count,1.963000e+03,1963.000000,1963.000000,1963.000000,1963.000000,1963.000000,1963.000000,1963.000000,1.963000e+03
mean,9.251986e+06,1613.786551,2.612837,0.202241,0.576159,0.612837,0.197657,0.855833,5.329551e+08
std,6.915921e+06,661.379307,0.661970,1.232567,1.265750,1.263007,1.231449,1.217064,1.682728e+08
min,2.022000e+06,540.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000e+08
25%,4.800000e+06,1165.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.016548e+08
50%,7.533000e+06,1500.000000,3.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.998750e+08
75%,1.070000e+07,1800.000000,3.000000,0.000000,1.000000,1.000000,0.000000,1.000000,6.376066e+08
max,6.640000e+07,6718.000000,6.000000,9.000000,9.000000,9.000000,9.000000,9.000000,1.210526e+09

In [16]:
Data

,location,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable,price_per_sqft
0,Adibatla,2800000,1400,3,0,0,0,0,0,2.000000e+08
1,Adibatla,2800000,1400,3,0,0,0,0,0,2.000000e+08
2,Adibatla,2022000,1010,2,0,0,0,0,0,2.001980e+08
3,Adibatla,2200000,1050,2,0,0,0,0,0,2.095238e+08
4,Adibatla,2800000,1200,2,0,0,0,0,0,2.333333e+08
...,...,...,...,...,...,...,...,...,...,...
1958,other,7584999,1250,2,9,9,9,9,9,6.067999e+08
1959,other,5250000,1485,3,9,9,9,9,9,3.535354e+08
1960,other,9800000,1650,2,9,9,9,9,9,5.939394e+08
1961,other,7500000,1550,2,9,9,9,9,9,4.838710e+08
1962,other,4000000,1060,2,9,9,9,9,9,3.773585e+08

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()

In [19]:
Data['location'] = le.fit_transform(Data['location'].values)

In [20]:
Data.drop("price_per_sqft",axis=1,inplace=True)

In [21]:
Data.to_csv("Clean1_data.csv",index=False)

In [22]:
x=Data.drop("price",axis=1)

In [23]:
y=Data["price"]

In [24]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.10,random_state=16)

In [26]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((1766, 8), (1766,), (197, 8), (197,))

# Linear Regression

In [27]:
model = LinearRegression()

model.fit(x_train,y_train)

In [28]:
model.fit(x_train,y_train)

LinearRegression()

In [29]:
y_pred = model.predict(x_test)

In [30]:
y_pred

array([ 9099653.6047467 ,  6612782.83467627,  5891729.58768514,
       23149431.3166291 , 12344901.56067684,  3512036.5437458 ,
        3050959.69083667,  9099653.6047467 ,  9406394.84979956,
        3043647.49330524,  1253455.33041681, 11470799.75146987,
        9804466.80576829,  4661983.56831625,  9592923.74768729,
        9391878.31478088,  4464805.61146583,  4092650.0345419 ,
        7266389.23714925,  5480507.62660053,  7098553.25471785,
        4512299.00583832, 12937725.11496029,  9621392.98324542,
        4402927.51229273, 40836948.8277902 , 11468198.52188234,
        3674467.91845585,  4173372.04736385,  7519988.43681026,
        1623280.52107685,  5791899.91703173,  5944749.10798084,
        9491959.70265672,  2246371.8450824 ,  7266389.23714925,
       14228677.9327012 ,  5377282.84502105, 27721749.33844559,
       11497047.37387269,  7802326.23067658,  9727660.20648096,
       19026399.1813739 ,  8478727.04501825, 12124643.24798656,
       15146660.0574121 , 12912926.18668764,  9672351.13825895,
        7924372.72611634, 10842952.16013357, 27711332.43500853,
        6167100.23542247,  7509051.56904568,  8509594.26333023,
        7384580.57990097,  4065798.65238666,  3601748.96566321,
        5445341.50275475,  9957023.87675297,  4697381.84768765,
        9957023.87675297, 13270131.02183552, 12412037.10307247,
        9343150.22072367,  3564121.06093107,  5945532.67730318,
        4092650.0345419 , 20936617.34862994,  5134340.37824714,
       12937725.11496029,  2652264.41341873, 10433568.65848611,
        5945532.67730318,  5680982.08401343,  9982628.61600978,
        1173687.44680652,  9288632.4734941 ,  2777633.92037207,
        1517188.60448874, 11501336.06470485,  5222163.66784243,
        8768141.90451757,  2945284.67786219,  9982628.61600978,
       28069806.15471666,  9099653.6047467 ,  3835200.28242991,
        9099653.6047467 , 16717179.2463627 , 12323087.45130544,
        7918566.50718886,  6101434.18632898, 18642860.58671432,
       10561736.12820192, 13674328.63006305,  3777913.3060696 ,
       23627906.28768403, 28069806.15471666, 10561736.12820192,
        8113411.77796463, 13060306.53618732,  7327444.60173317,
        4697381.84768765,  9286242.4252    ,  5292587.46805636,
       11356585.41788908, 12937725.11496029, 12304543.19235764,
        5500909.90668228,  4347618.44407073,  4090168.69195874,
       14802722.43441945,  9260558.20168083,  9028727.81200436,
       19572729.20547897,  6676190.78531265, 10457567.0938314 ,
        4307465.79807174,  4718387.88752183, 14229421.14115478,
        8627153.37323315,  4983049.55373092,  6541717.59323277,
        7951704.05001137,  2371631.34206753,  4402927.51229273,
       33459605.11112747, 17522517.17207917,  5712824.56899006,
       18031027.49679522, 10092975.47353457,  4092650.0345419 ,
       15312215.69972457,  7924372.72611634,  8725482.10049969,
       23513320.34987646,  4032881.71559842,  4715434.6154043 ,
        8768141.90451757,  8636055.04838564,  2757056.76923847,
        6411651.74151425,  5840608.88498772, 21656109.89288943,
       10135583.0289113 ,  9778629.91098585,  9286242.4252    ,
       11715579.17967043, 16453081.23957259,  8421951.12158588,
       34432194.84956992,  4697381.84768765,  4697381.84768765,
        5074572.05930365,  6930667.70361032,  3780866.57818712,
       28611456.32206599,  5030171.34387661,  5435272.40843085,
        8924563.71615192,  5015172.56730738,  9129670.57287192,
        8990216.58398315,  7802326.23067658,  6436433.74618188,
        5422849.04601342, 12822395.96869914,  9653746.95674558,
       11497047.37387269,  7479272.65246296,  6549533.26708229,
       15503256.19428948, 20267125.50306349, 11497047.37387269,
        6311610.71450718,  4661983.56831625,  3489524.52530768,
       11649704.77016494,  4090168.69195874,  8684483.44586856,
       33271194.65752748,  8851302.33870783,  8711454.71502817,
        4032881.71559842,  1949501.02818796, 35315700.75543413,
         581810.78340589, 17932272.27795342,  6828728.29460053,
        6260449.650941  ,  8084330.77044866,  9220679.4368204 ,
        4697381.84768765,  6104015.85421971,  8339330.29116564,
       11523255.87288192,  6235918.92790021])

In [31]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197 entries, 1499 to 4
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         197 non-null    int32
 1   total_sqft       197 non-null    int64
 2   No. of Bedrooms  197 non-null    int64
 3   School           197 non-null    int64
 4   24X7Security     197 non-null    int64
 5   CarParking       197 non-null    int64
 6   Hospital         197 non-null    int64
 7   LiftAvailable    197 non-null    int64
dtypes: int32(1), int64(7)
memory usage: 13.1 KB

In [32]:
pred = model.predict([[0,1200,2,0,1,0,1,0]])
print(pred)

[6041992.63101216]

C:\Users\Mamilla Manoj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [33]:
print('Traning accuracy :',model.score(x_train,y_train))
print('Test accuracy :',model.score(x_test,y_test))

Traning accuracy : 0.8488198024089031
Test accuracy : 0.7910983100017488

# lasso

In [34]:
lasso = Lasso()

In [36]:
lasso.fit(x_train,y_train)

C:\Users\Mamilla Manoj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.125e+15, tolerance: 8.326e+12
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [37]:
y_pred = lasso.predict(x_test)

In [38]:
y_pred

array([ 9099682.30615282,  6612634.44568842,  5891416.11440643,
       23149479.83626634, 12344799.99307417,  3511826.88338895,
        3050989.41757561,  9099682.30615282,  9406431.46470119,
        3043431.3393842 ,  1253205.79670184, 11470824.23428423,
        9804479.2663911 ,  4661731.56414074,  9592643.39097651,
        9391841.22033196,  4464544.0334884 ,  4092684.5687829 ,
        7266086.43996152,  5480459.76192231,  7098855.38894276,
        4512300.82157401, 12937778.02729388,  9621360.40639602,
        4402989.46991393, 40852910.64580783, 11468253.31601456,
        3674516.19355139,  4173315.98417643,  7519894.05155176,
        1623249.51014716,  5791866.48516892,  5944485.69627979,
        9491970.72102892,  2246297.25779997,  7266086.43996152,
       14228745.46671386,  5377274.87376015, 27721773.88619902,
       11497071.46867818,  7802226.17536011,  9727658.8077799 ,
       19026419.54688376,  8478705.22985223, 12124638.25907772,
       15146656.01969442, 12912776.07493072,  9672055.98645189,
        7924382.13424115, 10842677.57242524, 27711356.93468694,
        6167127.01583949,  7509098.41194433,  8509504.44519868,
        7384558.04704606,  4065511.40748549,  3601735.74936395,
        5445397.95060377,  9957082.01728145,  4697352.02832422,
        9957082.01728145, 13270135.65136721, 12412022.61075604,
        9343195.2075517 ,  3563911.64094932,  5945528.62098584,
        4092684.5687829 , 20936699.84848468,  5134379.71999018,
       12937778.02729388,  2651994.47038773, 10433536.37153925,
        5945528.62098584,  5680756.44213125,  9982360.88758292,
        1173734.50117136,  9288690.66655455,  2777561.78491568,
        1517110.65195487, 11501361.56198347,  5222143.64178913,
        8768155.20671905,  2945329.58770629,  9982360.88758292,
       28069844.79535165,  9099682.30615282,  3835198.97328928,
        9099682.30615282, 16717195.91458063, 12322869.51145259,
        7918314.37079833,  6101436.83822291, 18642849.73236976,
       10561728.25822827, 13674344.25093979,  3777972.37918956,
       23627911.9419544 , 28069844.79535165, 10561728.25822827,
        8113398.59744713, 13060327.52497165,  7327427.42950885,
        4697352.02832422,  9286223.82765164,  5308414.69518263,
       11356605.04168995, 12937778.02729388, 12304568.84788309,
        5500596.79568444,  4347386.64858593,  4089901.05309231,
       14802779.62199344,  9260594.14353217,  9028605.25927907,
       19572758.59020979,  6675896.96759611, 10457558.74310754,
        4307530.45235104,  4718414.98898982, 14229480.01479091,
        8626826.113902  ,  4982820.69082237,  6541748.77764109,
        7951422.61676725,  2371683.92505973,  4402989.46991393,
       33459677.79915852, 17522785.10774757,  5712799.94513756,
       18031049.76642302, 10092965.44018499,  4092684.5687829 ,
       15312225.42177201,  7924382.13424115,  8725306.45692207,
       23513325.4753216 ,  4032674.45899259,  4715498.01527612,
        8768155.20671905,  8635752.94801991,  2757111.13100643,
        6411412.14413045,  5840337.20239914, 21656148.89262436,
       10135421.44820173,  9778641.74322468,  9286223.82765164,
       11715590.09263157, 16453086.27060331,  8421654.53096463,
       34432252.97466187,  4697352.02832422,  4697352.02832422,
        5074369.61019988,  6930444.37078154,  3780889.35290326,
       28611505.25273937,  5030210.20486945,  5435249.13172716,
        8924239.1218138 ,  5015465.0865282 ,  9129685.98559277,
        9006065.20792996,  7802226.17536011,  6436477.44040478,
        5422865.89378407, 12822457.01258403,  9653425.72765889,
       11497071.46867818,  7479098.81262316,  6549594.81088349,
       15503286.29157199, 20267138.598936  , 11497071.46867818,
        6311591.02006249,  4661731.56414074,  3489273.60797476,
       11649440.4035531 ,  4089901.05309231,  8684494.56041851,
       33271208.86886828,  8851295.70085007,  8711455.12429501,
        4032674.45899259,  1949284.15657803, 35315752.55974019,
         581825.6564159 , 17932293.58267209,  6828478.49989196,
        6260203.7314262 ,  8084021.79191857,  9220433.30980744,
        4697352.02832422,  6103986.53789808,  8339032.44570502,
       11523276.26588312,  6235872.38356685])

In [39]:
print('Traning accuracy :',lasso.score(x_train,y_train))
print('Test accuracy :',lasso.score(x_test,y_test))

Traning accuracy : 0.8488197778115828
Test accuracy : 0.7911061140176334

In [40]:
pred = lasso.predict([[0,1200,2,0,1,0,1,0]])
print(pred)

[6026191.68090284]

C:\Users\Mamilla Manoj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [42]:
import xgboost as xgb
xgb1 = xgb.XGBRegressor()

In [43]:
xgb1.fit(x_train,y_train)
xgb_pred = xgb1.predict(x_test)

In [44]:
xgb1.save_model("lasso.json")

In [45]:
import streamlit as  st

In [46]:
st.header("House price prediction")

2022-07-20 22:15:16.460
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\Mamilla Manoj\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator(_root_container=0, _provided_cursor=None, _parent=None, _block_type=None, _form_data=None)

In [47]:
np.save('classes.npy',le.classes_)

In [48]:
le.classes_ = np.load('classes.npy',allow_pickle = True)

In [49]:
xgb_best = xgb.XGBRegressor()

In [50]:
xgb_best.load_model("lasso.json")

In [51]:
if st.checkbox('Show Training Dataframe'):
    Data

In [56]:
st.subheader("please select relevant features of house")
left_column, right_column = st.columns(2)
with left_column:
    inp_species = st.radio('Location: ',np.unique(df['location']))

In [57]:
Data.head()

,location,price,total_sqft,No. of Bedrooms,School,24X7Security,CarParking,Hospital,LiftAvailable
0,0,2800000,1400,3,0,0,0,0,0
1,0,2800000,1400,3,0,0,0,0,0
2,0,2022000,1010,2,0,0,0,0,0
3,0,2200000,1050,2,0,0,0,0,0
4,0,2800000,1200,2,0,0,0,0,0

In [58]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1963 entries, 0 to 1962
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   location         1963 non-null   int32
 1   price            1963 non-null   int64
 2   total_sqft       1963 non-null   int64
 3   No. of Bedrooms  1963 non-null   int64
 4   School           1963 non-null   int64
 5   24X7Security     1963 non-null   int64
 6   CarParking       1963 non-null   int64
 7   Hospital         1963 non-null   int64
 8   LiftAvailable    1963 non-null   int64
dtypes: int32(1), int64(8)
memory usage: 130.5 KB

In [59]:
input_sqft = st.slider('Total sqft(sqft)',0,max(Data["total_sqft"]))
input_bed = st.slider('No.of bedrooms',0,max(Data["No. of Bedrooms"]))
input_school = st.slider('school availabl',0,1)
input_security = st.slider('24X7Security',0,1)
input_car = st.slider('Car',0,1)
input_hospital = st.slider('hospital',0,1)
input_lift = st.slider('lift',0,1)

In [60]:
if st.button('Make Prediction'):
    input_loc = le.transform(np.expand_dims(inp_species,-1))
    inputs = np.expand_dims(
                            [int(input_species),input_sqft,input_bed,input_school,input_security,input_car,input_hospital,input_lift])
    prediction = xbg_best.predict(inputs)
    print("final pred :",np.squeeze(prediction,-1))
    st.write(f"your house price: {np.squeeze(prediction, -1):.2f}g")